/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 14px;
}
.font-lr {
  font-size: 16px;
}
.font-lg {
  font-size: 24px;
}
.mb-sm {
  margin-bottom: 30px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
// .pb-sm {
//   padding-bottom: 16px !important;
// }
// .pb-lg {
//   padding-bottom: 80px !important;
// }
.wrapper {
  margin: 0 auto;
  max-width: $contentMaxWidth;
  padding: 0 5%;
}
// .main-title {
//   @extend .font-lg;
//   font-weight: 600;
//   margin-bottom: 0;
//   display: block;
// }
// .sub-title {
//   @extend .font-sm;
//   color: $cSubTitle;
// }
.flex {
  display: flex;
  flex-direction: column;
}

.header {
  background-image: url(/images/mainvisual.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  @extend .mb-lg;

  &__logo {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

