@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  line-height: normal;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .fashion .button, .antique .button {
  font-size: 12px;
}

.font-md, .sub-title, .article__text p, .fashion__text, .catalog__text, .antique__text {
  font-size: 14px;
}

.font-lr {
  font-size: 16px;
}

.font-lg, .main-title {
  font-size: 24px;
}

.mb-sm, .sub-title, .article__item, .catalog__text, .antique__text {
  margin-bottom: 30px;
}

.mb-lg, .header, .article {
  margin-bottom: 80px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5%;
}

.main-title {
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-image: url(/images/mainvisual.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 30px;
  right: 30px;
}

.article {
  text-align: center;
}

.article flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.article__item {
  color: #24292E;
  width: 100%;
  position: relative;
}

.article__item > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__text {
  max-width: 290px;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 15px 0;
  margin: 0 auto;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: bold;
  background-color: #707070;
  cursor: pointer;
}

.article__text p {
  margin: 0;
}

.article__text p:first-child {
  font-size: 20px;
  margin-bottom: 2px;
}

.fashion {
  height: 520px;
  text-align: center;
  background-image: url(/images/fashion.jpg);
  background-size: cover;
  background-position: center top;
  padding-top: 35px;
  margin-bottom: 50px;
}

.fashion .button {
  margin-top: 30px;
  color: #24292E;
  padding: 14px 36px;
  border: 1px solid #2A2A2A;
  text-decoration: none;
  display: inline-block;
}

.fashion .button:hover {
  opacity: 0.7;
  color: #24292E;
  text-decoration: none;
}

.fashion__text {
  margin: 0;
}

.catalog {
  background-color: #F5F5F5;
  padding: 30px 0;
}

.catalog__item {
  text-align: center;
}

.catalog__item:first-child {
  margin-bottom: 60px;
}

.catalog__item > img {
  width: 100%;
}

.catalog__item h2 {
  margin-bottom: 40px;
}

.catalog__item p:last-of-type {
  margin: 0;
}

.catalog__text {
  text-align: left;
}

.antique {
  background-color: #F5F5F5;
  padding: 30px 0;
}

.antique__item {
  text-align: center;
}

.antique__item:first-child {
  margin-bottom: 60px;
}

.antique__item > img {
  width: 100%;
}

.antique__item h2 {
  margin-bottom: 40px;
}

.antique__item p:last-of-type {
  margin: 0;
}

.antique__text {
  text-align: left;
}

.antique .button {
  margin-top: 30px;
  color: #24292E;
  padding: 14px 36px;
  border: 1px solid #2A2A2A;
  text-decoration: none;
  display: inline-block;
}

.antique .button:hover {
  opacity: 0.7;
  color: #24292E;
  text-decoration: none;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */